
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0.800;1,300&display=swap');


:root{
    --main-color:#0061ff;
    --basic-border: solid 1px black;
    --second-border-style: solid 1px rgb(211, 208, 208);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

i{
    padding-right: 5px;
}


img{
    width: 100%;
}

header{
    width: 100%;
    position: fixed;
    z-index: 1;
}

/* Container per strutture */
.big-container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-container{
    max-width: 1000px;
    margin: 0 auto;
}

.column-60-w{
    width: 60%;
}

.column-40-w{
    width: 40%;
}

.w-30-box{
    width: 30%;
}

.w-70-box{
    width: 70%;
}
/* Container per strutture */

.ft-40{
    font-size: 40px;
}

.pad-t-40{
    padding:40px 0 0 0;
}


.padd-30-b{
    padding-bottom: 30px;
}

.align-r{
    text-align: right;
}

.flex-container{
    display: flex;
}

.flex-b{
    justify-content: space-between;
}

/* ------------------------------------ */

/*  Header e prima sezione */
.intro-container{
    position: relative;
    bottom: -80px;
}

.fa-check{
    color:var(--main-color);
}

.fa-arrow-down{
    color: black;
}

.circle-select{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: solid 5px var(--main-color);
    display: inline-block;
}


.logo{
    vertical-align: middle;
}

h1{
    font-size: 75px;
    font-weight: 800;
}
.nav-flex{
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav ul li,nav ul li a,.first-btn-type,.customers-collage .small-container .column-40-w a,.partner .small-container .column-40-w a{
    padding: 10px 15px;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.first-btn-type{
    background-color: var(--main-color);
    color: white;
    display: inline-block;
    text-decoration: none;
}

.introduction{
    background-color: #b4d0e7;
    padding-top: 80px;
}


.intro-text{
    padding: 50px 0 0 0;
    display: flex;
    position: relative;
}

.left-column-intro a{
    margin: 20px 0;
}

.left-column-intro p{
    line-height: 1.5rem;
}

.left-column-intro span{
    display:block;
    margin: 15px 0;
}

.left-column-intro :last-child{
    margin: 70px 0 0 0;
    font-size: 50px;
}

/* Fine header e prima sezione */


/* Sezione Business plan */
.selection-business{
    display: inline-block;
    margin: 10px 30px 0 0;
}

.circle-select.not-selected{
    border:var(--second-border-style);
}

.business-plan{
    padding-top: 180px;
}

.business-plan .small-container h2{
    margin-bottom: 40px;
}

.cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.card{
    border:var(--second-border-style);
    width:30%;
}

.card-content{
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 30px 0;
}

.title-container{
    text-align: center;
    padding: 10px 0;
    border-bottom:var(--second-border-style)
}
.card-content h3{
    padding:0 0 20px 0;
}

.card-content ul li{
    padding: 5px;
    list-style: none;
}

.card-content a{
    margin:20px 0px;
    width: 100%;
    text-align: center;
}

.enterprise .card-content .w-30-box a{
    margin:0;
}

.price{
    font-weight: bold;
}

.subscription{
    color: grey;
    margin-bottom: 40px;
}

.info{
    display: flex;
    margin: 15px 0;
}

/* hr per separare parti  */
.separator{
    width: 20%;
    margin: 50px 0px;
    border: var(--second-border-style);
}

.enterprise{
    width: 100%;
    border:var(--second-border-style);
    margin-top: 50px;
}

.enterprise .card-content{
    display: flex;
    justify-content: space-between;
}


/* Fine sezione Business plan */

/* Sezione Partner */

.partner{
    padding: 150px 0px;
}

.partner .flex-container .column-40-w{
    padding: 40px 40px 0 40px
}

.partner .flex-container .column-40-w p{
    padding: 30px 0 40px 0;
}
 
.partner .small-container .column-40-w a{
    text-decoration: none;
    color: black;
    border:var(--basic-border);
}

/* Fine sezione Partner */

/* Sezione info Dropbox Business */

.dropbox-business .small-container .cards{
    flex-wrap: wrap;
}

.card-text h3{
    padding:10px 0  25px 0;
}

.dropbox-business .small-container .cards .card{
    border: none;
    padding-bottom: 50px;
}

/* Fine sezione info Dropbox Business */

/* Sezione Clienti */

.dropbox-customers{
    padding: 120px 0 150px 0;
}

.collage-block{
   height: 20vh;
   width: 50%;
   position: relative;
}

.block-img{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.col-block1{
    background-color: bisque;
}

.col-block2{
    background-color: rgb(141, 95, 40);
}
.col-block3{
    background-color: rgb(11, 79, 105);
}
.col-block4{
    background-color: rgb(184, 93, 156);
}
.col-block5{
    background-color: bisque;
}
.col-block6{
    background-color: rgb(194, 72, 63);
}
.col-block7{
    background-color: rgb(43, 148, 78);
}
.col-block8{
    background-color: rgb(101, 111, 158);
}



.left-collage-column,.right-collage-column{
    width: calc(100% / 3);
    display: flex;
    flex-wrap:wrap ;
}

.central-collage-column{
    width:calc(100% / 3) ;
    background-color: #aaa;
    height: 40vh;
    overflow: auto;
}

.container-collage{
    display: flex;
    width: 100%;
}

.central-col-content{
    width: 90%;
    margin: 0 auto;
}

.central-col-logo{
    width: 40%;
}

.customers-collage{
    background-color: #b4d0e7;
}


.customers-collage .small-container{
    padding: 100px 0 ;
}


.customers-collage .small-container .column-40-w a{
    text-decoration: none;
    color: black;
    background-color: white;
    border: none;
    display: inline-block;
}

.customers-collage .small-container .column-60-w h2{
    color: maroon;
}

/* Fine Sezione Clienti */

/* Sezione Faq */

.faq{
    padding: 150px 0;
}

.faq-container{
    padding-bottom: 10px;
    border-top:var(--basic-border);
}
.faq-container h4{
    padding: 30px 0; 
}

.last-faq-cont{
    border-bottom:var(--basic-border)
}

.faq-container p{
    display: none;
}

.faq-container:hover p{
    display: inline;
}

/* Fine sezione faq */

footer{
    background-color: black;
}

footer .big-container .flex-container ul li{
    padding: 8px 0;
    list-style: none;
}

footer .big-container .flex-container ul li a{
    text-decoration: none;
    color: white;
}

footer .big-container .flex-container ul li:first-child{
    font-weight: bold;
    padding: 15px 0;
}

footer .big-container{
    padding: 70px 0 50px 0; 
}

.end-footer{
    color: white;
}

footer .big-container .separator{
    width: 10%;
}

select{
    background-color: black;
    border: none;
    color: white;
}